@model List<netCoreMvcAdo.Models.Student>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (TempData["problem"]!= null)
{
    <h2>@TempData["problem"]</h2>
}
<ul>

    @if (Model.Where(x => x.Id == 0).ToList().Count == 1)
    {
        <h2>No student found for this id </h2>
    }
    else
    {
     @foreach(var student in Model)
       {
        <li>@student.Id : @student.Name || @student.Email <button style="margin-right:10px;margin-bottom:5px" class="btn btn-sm btn-outline-primary"><a class="nav-link text-dark"  asp-controller="Student" asp-action="Update" asp-route-id="@student.Id">Update</a> </button>
            <div class="btn btn-sm btn-outline-danger mb-1" style="display:inline-block">
                <form asp-action="Delete" asp-controller="Student" asp-route-id ="@student.Id"> <input type="submit" style="margin-right:10px;margin-bottom:5px;border:none" class="btn btn-sm btn-outline-danger" value="delete"> 
                </form>
            </div></li>
        }
    }
</ul>

